<!-- Formulario para agregar preguntas -->
<div>
    <input v-model="nuevaPregunta.id" placeholder="ID" type="number" />
    <input v-model="nuevaPregunta.pregunta" placeholder="Pregunta" type="text" />
    
    <!-- Usa v-for para gestionar múltiples respuestas -->
    <div v-for="(respuesta, index) in nuevaPregunta.respostes" :key="index">
      <input v-model="nuevaPregunta.respostes[index]" placeholder="Respuesta" />
    </div>
    
    <button @click="agregarPregunta">Agregar Pregunta</button>
  </div>
  